body{
    font: 15pt normal;
    background-image: linear-gradient(to right, white, rgb(0, 92, 128));
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

h1{ 
    margin-top: 15px;
    font-size: 35pt;
    font-weight: bold;
    color: whitesmoke;
}

h3{
    margin-top: 10px;
    font-size: 10pt;
    font-weight: bold;
    color: thistle;
}

.form{
    margin: 20px auto;
    width: 50%;
    background-color: rgb(64, 127, 175);
    border: 2px solid rgb(64, 127, 175);
    border-radius: 5px;
    box-shadow: 1px 3px 10px snow;
}

.form h2 {
    font-size: 18pt;
    padding: 10px;
    color: darkslategrey;
    font-weight: bold;
}

.form input {
    width: 70%;
    padding: 6px 5px;
    margin-bottom: 15px;
    border-color: whitesmoke;
    }

.form input:hover{
    border: solid whitesmoke; 
    }

.form button {
    width: 30%;
    padding: 10px 5px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    transition: 0.3s;
}

.form button:hover {
    background-color: rgba(31, 207, 154, 0.534);
    font-size: 15pt;
}

.tarefas{
    background-color: white;
    margin: 10px auto;
    width: 50%;
    border: 2px solid rgb(64, 127, 175);
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(22, 54, 78, 0.644);
}

.tarefas-titulo {
    padding: 15px 0px;
    width: 100%;
    background-color: rgb(64, 127, 175);
    border-bottom: 2px solid rgb(64, 127, 175);
    font-size: 18pt;
    font-weight: bold;
    color:  darkslategrey;
    box-shadow: 1px 3px 10px snow;
}

.lista-tarefas {
    margin: 15px 0px;
}

.lista-tarefas p {
    margin: 10px 0px;
    font-size: 15pt;
    font-weight: bold;
    color: teal;
    cursor: pointer;
}

#lista-tarefas p::before {
    content: "\235F";
    margin-right: 15px;
    color: tomato;
}

.fade-out{
	opacity: 0;
	transition: 0.9s;
}

